<div class="container">
    <div style="margin-top: 10px">
        <div class="search-container">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search Products" />
                <button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <ng-container *ngIf="displayedColumns.includes('productName')" matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product Name
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container *ngIf="displayedColumns.includes('category')" matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                    <td mat-cell *matCellDef="let row">{{ row.category }}</td>
                </ng-container>

                <ng-container *ngIf="displayedColumns.includes('price')" matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
                    <td mat-cell *matCellDef="let row">{{ row.price | currency }}</td>
                </ng-container>

                <ng-container *ngIf="displayedColumns.includes('count')" matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count</th>
                    <td mat-cell *matCellDef="let row">{{ row.count }}</td>
                </ng-container>

                <ng-container *ngIf="displayedColumns.includes('createdDate')" matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Created Date
                    </th>
                    <td mat-cell *matCellDef="let row">{{ row.createdDate | date }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <button *ngIf="controlObjForService.actions" mat-icon-button color="primary"
                            (click)="editProduct(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="controlObjForService.actions" [disabled]="row.inCart > 0" mat-icon-button
                            color="warn" (click)="deleteProduct(row.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
                (page)="onPaginateChange($event)" [pageSizeOptions]="controlObjForService.pageSize"
                aria-label="Select page of users"></mat-paginator>

        </div>
    </div>
</div>